@keyframes disco {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.FancyButton {
  /* Customizable */
  --button-color-bg: rgb(24 24 27);
  --button-color-border: rgb(63 63 70);
  --button-color-disco: rgb(59 130 246);
  --button-border-width: 1px;
  --button-bg-gradient-start: rgb(24 24 27);
  --button-bg-gradient-end: rgb(39 39 42);
  --button-disco-animation: disco 1.5s linear infinite;
  --button-disco-gradient-stops: transparent 135deg,
    var(--button-color-disco) 180deg, transparent 225deg;
  --button-disco-opacity: 1;
  --button-radius: 0.5rem;
  --button-transition-duration: 200ms;
  --button-transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --button-transition: var(--button-transition-duration)
    var(--button-transition-easing);

  --button-disco-gradient-stops: #cab7ff,#fe8bbb,#ffbd7a;
  /**
   * Using an advance mathematic technique often referred to as
   * "winging it", we'll offset the aspect ratio by a figure
   * that brings the shape of the "disco" element as close to
   * the edge of the button as possible – to reduce the effect
   * of "easing".
   */
  --button-aspect-ratio-multiplier: 0.65;

  /**
   * This one's optional, it just stops the button from jumping around when the
   * content width changes
   */
  min-width: 8rem;
}

.FancyButton:active {
  transform: scale(0.97);
  --button-border-width: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .FancyButton {
    transition: var(--button-transition);
    transition-property: color, filter, transform;
  }
}

.FancyButton__disco,
.FancyButton__disco::before {
  position: absolute;
  width: 100%;
}

.FancyButton__disco {
  inset: 0;
  height: 100%;
  top: 50%;
  transform: translateY(-50%)
    scaleX(
      calc(var(--button-aspect-ratio) * var(--button-aspect-ratio-multiplier))
    );
  will-change: transform;
}

.FancyButton__disco::before {
  content: "";
  position: absolute;
  left: 0;
  min-height: 100%;
  top: 50%;
  aspect-ratio: 1/1;
  transform-origin: center;
  background-image: conic-gradient(var(--button-disco-gradient-stops));
  opacity: var(--button-disco-opacity-enabled, 0);
  /**
   * This one's not strictly necessary, but I think it helps soften the gradient
   * and reduces animation "easing".
   */
  filter: blur(8px);
}

@media (prefers-reduced-motion: reduce) {
  .FancyButton__disco::before {
    transform: translateY(-50%) rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .FancyButton__disco::before {
    animation: var(--button-disco-animation);
    animation-play-state: var(--button-disco-animation-state, paused);
    transition: var(--button-transition);
    transition-property: opacity;
  }
}

.FancyButton:hover {
  --button-disco-animation-state: running;
  --button-disco-opacity-enabled: var(--button-disco-opacity);
}
