@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_fonts.scss';
@import './_variables.scss';
@import './_typography.scss';
@import './_ghost.scss';
@import './_fancy-button.scss';

body {
  @apply dark:bg-night-900 dark:text-dusk-200;
}

main.Content {
  @apply px-5 xs:px-9 max-w-xl mx-auto;
}

main.Content.--wide {
  @apply px-3;
}

.flex-center {
  @apply flex flex-col items-center justify-center;
}

.gradient-text,
.gradient-text > *:after {
  background-image: linear-gradient(to left, $sunriseOrange, $coralPink, $skyBlue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.gradient-text-metalic {
  background: linear-gradient(180deg, #fff 21.83%, #05051e 128.87%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-background {
  background: var(--gradient, linear-gradient(90deg, #cab7ff 0%, #fe8bbb 50%, #ffbd7a 100%));
}

.triple-border {
  position: relative;
  border-radius: 17px;
  border: 5px solid #f1eefe;
}

.triple-border::before,
.triple-border::after {
  content: '';
  position: absolute;
}

.triple-border::before {
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border: 5px solid #f7f5fe;
  z-index: -1;
  border-radius: 22px;
}

.triple-border::after {
  top: -15px;
  right: -15px;
  bottom: -15px;
  left: -15px;
  z-index: -2;
  border: 5px solid #fbfaff;
  border-radius: 28px;
}

.fancy-icon {
  @apply relative;
}

.fancy-icon::before,
.fancy-icon::after {
  @apply absolute block h-full w-full rounded-2xl border;
  content: '';
  top: 0;
  left: 0;
}

.fancy-icon::before {
  transform: scale(1.1);
}

.fancy-icon::after {
  transform: scale(1.2);
}

.dark .fancy-icon::before,
.dark .fancy-icon::after {
  @apply border-gray-800;
}

.fade-in {
  animation: fadeIn ease 1s;
  animation-fill-mode: forwards;
}
