.connectors-container {
  position: relative;
  height: 95px;
  width: 832px;
  margin: -5px auto 0;
  z-index: -1;
}

.connector {
  position: absolute;
  z-index: -1;
}

.connector-1 {
  top: 0;
  left: 0;
}

.connector-2 {
  top: 0;
  left: 210px;
}

.connector-3 {
  top: 0;
  left: 410px;
}

.connector-4 {
  top: 0;
  right: 220px;
}

.connector-5 {
  top: 0;
  right: 0;
}

.active .connector path {
  opacity: 1;
}
